<!DOCTYPE html>

<div class="panel-heading">
    <h3 class="panel-title post-title">{{title}}</h3>
    <span class="post-sub-heading"><i class="fa fa-clock-o sub-icon"></i><span class="sub-text"> {{created_at}}</span></span><span class="post-sub-heading"> BY <i class="fa fa-user sub-icon"></i></span><span class="sub-text">{{author}}</span>
  </div>
<div class="panel-body post-body">
   {{content}}
 </div>
 <div class="panel-footer post-footer">by {{author}}</div>
